<!DOCTYPE html>
@*@using Quiron.LojaVirtual.Web.Controllers;*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @*<ul class="nav nav-tabs">

        @if (ViewContext.Controller.GetType() == typeof(VitrineController))
        {
            <li role="presentation" class="active">@Html.ActionLink("VitrineController", "ListarProdutos", "Vitrine", null, new { @class = "" })</li>
            <li role="presentation">@Html.ActionLink("ProdutoController", "Index", "Produto", null, null)</li>
            <li role="presentation">@Html.ActionLink("Teste3", "", "", null, null)</li>
        }
        else if (ViewContext.Controller.GetType() == typeof(ProdutoController))
        {
            <li role="presentation">@Html.ActionLink("VitrineController", "ListarProdutos", "Vitrine", null, new { @class = "" })</li>
            <li role="presentation" class="active">@Html.ActionLink("ProdutoController", "Index", "Produto", null, null)</li>
            <li role="presentation">@Html.ActionLink("Teste3", "", "", null, null)</li>
        }
        else if (ViewContext.Controller.GetType() == typeof(int))
        {

        }
        else
        {

        }
    </ul>*@


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "ListarProdutos", "Vitrine", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Teste1</a></li>
                    <li><a href="#">Teste2</a></li>
                    <li><a href="#">Teste3</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row panel">
            <div class="col-xs-3">
               @Html.Action("Menu", "Categoria")
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
     
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>